@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.head h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 23px;
    position: relative;
}

.head h1::after{
    content: "";
    background: #ffb700;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.head p{
    text-align: center;
    color: #ada6a6;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 400px;
    /* height: 200px; */
}

.container .box img{
    width: 60px;
    height: 60px;
}

.container .box h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
.container .box p{
    color: #757272;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

.container .box-6 img{
    width: 90px;
}